@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #05060f linear-gradient(0deg, rgba(216, 236, 248, .06), rgba(152, 192, 239, .06));
  color: white;
  
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.particle-canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  
  opacity: 0;
  animation: loadParticles 0.4s ease-in-out forwards;
}

@keyframes loadParticles {
  from { opacity: 0; }
  to { opacity: 1; }
}
